/* Responsive Styles for Mobile Screens */
@media (max-width: 576px) {
  .container-main {
    padding: 20px;
  }
  .img-fluid {
    width: 100%; /* Images take full width on small screens */
    border-radius: 10%; /* Adjust the border radius */
  }
}

/* Global Body Styles */
body {
  background-color: whitesmoke;
}

/* Global Image Styles */
.img-fluid {
  width: 300px;
  border-radius: 10%;
}

/* Main Container Styles */
.container-main {
  background-color: white;
  border: 10px solid gray;
  border-radius: 5%;
}

/* Heading Font Styles */
.heading-primary {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Body Text Font Styles */
.text-primary {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
